* {
	box-sizing: border-box;
}

:root {
	--primary-color: #143c3c;
}

html {
	font-family: "Poppins", sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

/* Common */
a {
	text-decoration: none;
}

.container {
	width: 1400px;
	max-width: calc(100% - 50px);
	margin: 0 auto;
}

.btn {
	--height: 57px;
	min-width: 173px;
	height: var(--height);
	background: var(--primary-color);
	border-radius: 40px;
	border: 1.5px solid var(--primary-color);
	color: #fff;
	font-family: "Public Sans";
	font-size: 1.8rem;
	font-weight: 500;
	line-height: var(--height);
	text-align: center;
}

.section-heading {
	color: #152427;
	font-size: 4.2rem;
	font-weight: 600;
	line-height: 1.23;
}

.section-desc {
	color: #7d8188;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.62;
}

.btn:hover {
	cursor: pointer;
	background: #fff;
	color: var(--primary-color);
}

/* Header-top */
.header-top {
	padding-top: 28px;
}

.header-top__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dddcdc;
}

.header-top__navbar {
	display: flex;
	position: relative;
}

.header-top__navbar::after {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -11%;
	left: 22px;
	width: 16px;
	height: 2px;
	background-color: var(--primary-color);
}

.header-top__items {
	padding: 16px 19px;
}

.header-top__items > a {
	color: #575d5e;
	font-family: "Public Sans";
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.55;
}

.header-top-active:hover {
	color: #152427;
}

.header-top__cta {
	margin-bottom: 13px;
}

/* Hero */
.hero {
	padding: 60px 0 87px;
}

.hero__heading {
	width: 368px;
	font-size: 5rem;
	font-weight: 800;
	font-family: "Public Sans";
	line-height: 1.2;
}

.hero__desc {
	margin-top: 20px;
	color: #575d5e;
	font-family: "Public Sans";
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.55;
}

.hero-cta__row {
	margin-top: 42px;
	display: flex;
	column-gap: 36px;
}

.hero-cta__play {
	display: flex;
	align-items: center;
}

.hero-cta__img--play {
	margin-left: -20px;
}

.hero-cta__play:hover .hero-cta__img--play {
	cursor: pointer;
	opacity: 0.8;
}

.hero-cta__watch {
	margin-left: 15px;
	color: #152427;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66;
}
