* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  max-width: calc(100% - 50px);
  margin: 0 130px;
}

.btn {
  --height: 57px;
  min-width: 173px;
  height: var(--height);
  background: var(--primary-color);
  border-radius: 40px;
  border: 1.5px solid var(--primary-color);
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.section-heading {
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.section-desc {
  color: #7d8188;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.btn:hover {
  cursor: pointer;
  background: #fff;
  color: var(--primary-color);
}

/* Header-top */
.header-top {
  padding-top: 28px;
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddcdc;
}

.header-top__navbar {
  margin-left: 360px;
  margin-right: 88px;
  display: flex;
  position: relative;
}

.header-top__navbar::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -11%;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: var(--primary-color);
}

.header-top__items {
  padding: 16px 19px;
}

.header-top__items > a {
  color: #575d5e;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.header-top-active:hover {
  color: #152427;
}

.header-top__cta {
  margin-bottom: 13px;
}

/* Hero */
.hero {
  position: relative;
  height: 100vh;
  padding: 60px 0 87px;
}

.hero__row {
  display: flex;
  justify-content: space-between;
}

.hero__heading {
  margin-top: 43px;
  width: 368px;
  font-size: 5rem;
  font-weight: 800;
  font-family: "Public Sans";
  line-height: 1.2;
}

.hero__desc {
  width: 341px;
  margin-top: 20px;
  color: #575d5e;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.hero-cta__row {
  margin-top: 42px;
  display: flex;
  column-gap: 36px;
}

.hero-cta__touch {
  line-height: var(--height);
}

.hero-cta__play {
  display: flex;
  align-items: center;
}

.hero-cta__img--play {
  margin-left: -20px;
}

.hero-cta__play:hover .hero-cta__img--play {
  cursor: pointer;
  opacity: 0.8;
}

.hero-cta__watch {
  margin-left: 15px;
  color: #152427;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero__image {
  position: relative;
  width: 56%;
}

.hero-img {
  display: flex;
  flex: 1;
  column-gap: 20px;
}

.hero-img__thumb {
  z-index: 1;
  width: 202px;
  height: 466px;
  object-fit: cover;
}

.thumb-2 {
  margin-top: 77px;
}

.icon__top {
  position: absolute;
  top: 27px;
  left: 30%;
  z-index: 2;
  display: flex;
}

.icon__stars {
  z-index: 1;
}

.icon__rope {
  margin-top: -8px;
  margin-left: -42px;
}

.hero__circle {
  position: absolute;
  top: 14%;
  left: 32%;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.icon__down {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 8%;
}

.icon__stars-down {
  margin-top: 240px;
  margin-left: -38px;
}
